/*  your css code here. If applicable */
#container{
	margin:20px;
	
}
#container::before,
#container::after {
    content: 'Before Element ';
    color: rgb(255,0,0);
    font-size: 20px;
}

#container::after {
    content: ' After Element';
}